  <div class="dashboard-category-menu clearfix" ng-show="nav.isAdmin()">
    <div class="category-menu-logo"><a href="#"><img src="assets/images/admin/logo.png"></a> </div>
    <!--category-menu-logo-->
    <div class="welcome-admin-container clearfix">
      <div class="welcome-admin"> Welcome <span>ADMIN</span> </div>
      <!--welcome-admin-->

      <div class="admin-power-button"> <a ui-sref="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a> </div>
      <!--admin-power-button-->
      <div class="admin-setting"> <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i></i></a> </div>
      <!--admin-setting--> 
    </div>
    <!--welcome-admin-container-->
 
    <ul> 
      <li class="icn_new_article"><a ui-sref="admin"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
      <li class="icn_new_article"><a ui-sref="companies"><i class="fa fa-car" aria-hidden="true"></i>Companies</a></li>
      <li class="icn_new_article"><a ui-sref="mapview"><i class="fa fa-map-marker" aria-hidden="true"></i>Map View</a></li>
      <li class="icn_new_article"><a ui-serf="drivers"><i class="fa fa-user" aria-hidden="true"></i>Drivers</a></li>
      <li class="icn_new_article"><a ui-sref="vehicles"><i class="fa fa-tags" aria-hidden="true"></i>Vehicles</a></li>
      <li class="icn_new_article"><a ui-sref="requests"><i class="fa fa-pencil" aria-hidden="true"></i>Requests</a></li>
      <li class="icn_new_article"><a ui-sref="users"><i class="fa fa-users" aria-hidden="true"></i>Users</a></li>
      <li class="icn_new_article"><a ui-sref="reviews"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Reviews</a></li>
      <li class="icn_new_article"><a ui-sref="information"><i class="fa fa-info-circle" aria-hidden="true"></i>Information</a></li>
      <li class="icn_new_article"><a ui-sref="documents"><i class="fa fa-files-o" aria-hidden="true"></i>Documents</a></li>
      <li class="icn_new_article"><a ui-sref="promocodes"><i class="fa fa-ticket" aria-hidden="true"></i>Promo Codes</a></li>
      <li class="icn_new_article"><a ui-sref="payments" href=""><i class="fa fa-cc" aria-hidden="true"></i>Payments</a></li>
      <li class="icn_new_article"><a ui-sref="statements"><i class="fa fa-bar-chart" aria-hidden="true"></i>Statements</a></li>  
      <li class="icn_new_article"><a ui-sref="surgezone"><i class="fa fa-bar-chart" aria-hidden="true"></i>Surge Zone and Factors</a></li>  
      <li class="icn_new_article"><a ui-sref="managevehicletype">Manage Vehicle Type</a></li>
      <li class="icn_new_article"><a ui-sref="managevehicle">Vehicle Make</a></li>
      <li class="icn_new_article"><a ui-sref="manageserviceprovider">Manage Service Provider</a></li>
      <li class="icn_new_article"><a ui-sref="servicevehicle">Manage Vehicle</a></li>
      <li class="icn_new_article"><a ui-sref="servicedriver">Manage Driver</a></li>
     </ul>
    
  </div>


  <div class="dashboard-category-menu clearfix" ng-hide="nav.isAdmin()">
    <div class="category-menu-logo"><a href="#"><img src="assets/images/admin/logo.png"></a> </div>
    <!--category-menu-logo-->
    <div class="welcome-admin-container clearfix">
      <div class="welcome-admin"> Hello <span>Servicer</span> </div>
      <!--welcome-admin-->
      <div class="admin-power-button"> <a ui-sref="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a> </div>
      <!--admin-power-button-->
      <div class="admin-setting"> <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i></i></a> </div>
      <!--admin-setting--> 
    </div>
    <!--welcome-admin-container-->
    <ul>
      <li class="icn_new_article"><a ui-sref="serviceprovider">Home</a></li>
      <li class="icn_new_article"><a ui-sref="managevehicle">Vehicle Make</a></li>
      <li class="icn_new_article"><a ui-sref="servicevehicle">Manage Vehicle</a></li>
      <li class="icn_new_article"><a ui-sref="servicedriver">Manage Driver</a></li>
    </ul>
  </div>




